.idea
deploy_dir/
deploy_example/
trained_models/
__pycache__
gchm.egg-info
wandb/
venv/
.ipynb_checkpoints
.DS_Store
*.zip
*.tif
*.npy
*.pt
*.json

.Rproj.user
.Rhistory
.Renviron
.Rdata
.httr-oauth
.quarto

# Ignore the folder "old" inside plots
plots/old/

# Ignore everything in final_results but do not ignore loose files:
final_results/*
!final_results/*.*
