.idea

renv/
renv.lock

deploy_dir/
deploy_example/
trained_models/

__pycache__
gchm.egg-info
wandb/
venv/
.ipynb_checkpoints
.DS_Store
*.zip
*.tif
*.npy
*.pt
*.json

.Rproj.user
.Rhistory
.Renviron
.Rdata
.httr-oauth
.quarto

# Ignore the folder "old" inside plots
plots/old/

results/fallback/
results/loop_backup/
results/originals/
results/preds/
results/individual_results/


# final_results/
temp/

# Ignore everything in final_results but do not ignore loose files:
final_results/*
!final_results/*.*
